<div id="friendme_button" class="friendme_button">
    <% if user_signed_in? %>
        <% if current_user.friends.include?(user) %>
            <p>You are friends with <%= user.name %></p>
            (<%= link_to t('links.remove_friend'), associated_friendship(user), :method => :delete %>)
        <% else %>
            <%= link_to t('links.add_friend'), friendships_path(:friend_id => user), :method => :post %>
        <% end %>
    <% end %>
</div>

