<h2><%= @user.name %></h2>
<% @page_title = @user.name %>

<% if user_signed_in? %>
    <% if @user.friends.include?(current_user) %>
        <p>You are friends with <%= @user.name %></p>
    <% else %>
        <% if request_sent(@user) %>
            <!-- Always returns false for now. Fix/define in user helper -->
            <p>Waiting for <%= @user.name %> to respond to your friend request.</p>
        <% else %>
            <%= link_to "Send friend request", friend_request_user_path(@user) %>
        <% end %>
    <% end %>
<% end %>
