<h2><%= @user.name %></h2>
<% @page_title = @user.name %>

<% if user_signed_in? %>
    <% if current_user.confirmed_friends.include?(@user) %>
        <p>You are friends with <%= @user.name %></p>
    <% else %>
        <% if current_user.unconfirmed_friends.include(@user) %>
            <p>Waiting for <%= @user.name %> to respond to your friend request.</p>
        <% else %>
            <%= link_to t('links.request_friend'), friendships_path(:friend_id => @user), :method => :post %>
        <% end %>
    <% end %>
<% end %>
