<h2><%= @user.name %></h2>
<% @page_title = @user.name %>

<!-- Check for user's game list. Display if not empty -->
<% if @user.games.empty? %>
	<p>You have no games added.</p>
<% else %>
	<ul class="game_list">
	<% @user.games.each do |g| %>
		<li><%= g.name %></li>
	<% end %>
	</ul>
<% end %>