<%= form_for Game.new do |f| %>
	<%= f.label t('labels.add_a_game') %>
	<%= f.autocomplete_field :name, autocomplete_game_name_games_path %>
	
	<div class="actions">
	<%= f.submit t('buttons.add_game'), 'data-disable-with'=> "Adding..." %>
	</div>
<% end %>