
@mixin border-box {
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -box-sizing: border-box;
}

@mixin text-shadow($shadows) {
    -webkit-text-shadow: $shadows; -moz-text-shadow: $shadows; text-shadow: $shadows;
}
$light_letterpress: 0 2px 3px #fff;

@mixin border-radius($params) {
    -webkit-border-radius: $params; -moz-border-radius: $params; border-radius: $params;
}

@mixin box-shadow($shadows) {
    -webkit-box-shadow: $shadows; -moz-box-shadow: $shadows; box-shadow: $shadows;
}
$dark_boxshadow: 0px 2px 4px #333;
$light_boxshadow: 0px 2px 4px #ccc;
$under_shadow: 0px 8px 6px -6px #999;

#notice { color: green; }
.field_with_errors { padding: 2px; background-color: red; display: table; }
#error_explanation { border: 2px solid red; padding: 7px; padding-bottom: 0; margin-bottom: 20px; background-color: #f0f0f0;
    h2 { text-align: left; font-weight: bold; padding: 5px 5px 5px 15px; font-size: 12px; margin: -7px; margin-bottom: 0px; background-color: #c00; color: #fff; }
    ul li { font-size: 12px; list-style: square; } 
}

.button { font-weight: bold; display: block; padding: 8px 16px; color: #ddd; text-decoration: none; @include border-radius(4px); width: auto; cursor: pointer; text-align: center; margin-bottom: .4em;
    &:hover {color: #ddd}
    &:active {color: #ddd}
    &:visited {color: #ddd}
}
.caution { background-color: #992222; }
.go {background-color: #229922; }

section#vote { text-align: center; margin-top: 1em; 
    a { display: block; margin: 0px auto; text-decoration: none; color: white; background-color: #333;  @include border-radius(3px); max-width: 320px; padding: 10px 5px; @include border-box;
    }
}

nav {min-height: 50px;}
.navbar-inverse .brand {color: #555;}

/*** authentications ***/
.authentication { float: left; background-color: #EEE; border: solid 1px #999; padding: 5px 10px; position: relative; margin-right: 10px; @include border-radius(8px); 
    .remove { text-decoration: none; position: absolute; top: 3px; right: 3px; color: #333; padding: 2px 4px; font-size: 10px; 
        &:hover { color: #FFF; background-color: #777; @include border-radius(8px); }
    }
    img { float: left; }
    .provider, .uid { margin-left: 38px; margin-right: 20px; }
    .provider { font-weight: bold; }
    .uid { color: #666; font-size: 11px; }
}
.auth_provider { float: left; text-decoration: none; margin-right: 20px; text-align: center; margin-bottom: 10px; 
    .auth_provider img { display: block; }
}

/***** additional form styles *****/
form .field label {display: block;
    .field em {display: block; font-size:.9em; color: #666}
    .checkbox label, form .radio label {display: inline;}
}


/****** DASHBAORD *******/
form#new_night {margin-top: 1.4em;}

ul#games {margin: 0; padding: 0; list-style-type: none;
    li { margin: 10px; padding: 10px; @include border-radius(4px); background-color: #eee8e3; border: 1px solid #ccc5c1;  float: left;
        h4 {margin-top: 0;
            a { color: #222; text-decoration: none;
                &:hover {color: #222;}
                &:visited {color: #222;}
            }
        }
        h5 {margin: 0;}
        ul {list-style-type: none; margin: 0 0 1em 0; padding: 0;}
        li { margin: 0; padding: 0; background-color: transparent; border-width: 0px; float: none;}
    }
}

/**** FRIEND SEARCH ****/
.friend_results ul {list-style-type: none; margin: 0; padding: 0; }
.friend_results ul li { margin: 0 0 1.4em 0; padding: 0; }
.friend_results h5 { margin-bottom: 5px;}
